<div>
  {%- if block.settings.text -%}
    <h4>{{ block.settings.text | escape }}</h4>
  {%- endif -%}
  {%- render "test_snippet", title: 'Hello world!' -%}
  <div class="stars__div">
    {%- render "stars_snippet", icon: block.settings.icon -%}
  </div>
  <a href="{{ block.settings.linkok }}" class="button">ok</a>
  <a href="{{ block.settings.linkcancel }}" class="button">cancel</a>
</div>

{% schema %}
{
  "name": "Test block",
  "target": "section",
  "stylesheet": "stars.css",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "text",
      "id": "icon",
      "label": "Custom icon",
      "default": "⭐"
    },
    {
      "id": "linkok",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linkcancel",
      "type": "url",
      "label": "Button link"
    }
  ]
}
{% endschema %}