<div>
  {%- if block.settings.text -%}
    <h4>{{ block.settings.text | escape }}</h4>
  {%- endif -%}
  {%- render "test_snippet", title: 'Hello world!' -%}
  <div class="stars__div">
    {%- render "stars_snippet", icon: block.settings.icon -%}
  </div>
  <button class="button" id='ok_btn'>ok</button>
  <button class="button" id='cancel_btn'>cancel</button>
</div>

{% schema %}
{
  "name": "Test block",
  "target": "section",
  "stylesheet": "stars.css",
  "javascript": "clickers.js",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "text",
      "id": "icon",
      "label": "Custom icon",
      "default": "⭐"
    }
  ]
}
{% endschema %}